/* FONTS USED */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nunito+Sans:wght@200&display=swap");

:root {
	/* VARIABLES */
	--font-color: #a1a1a1;
	--back-color: #eef0f4;
	--decoration-color: #ff69b4;
	--decoration-pure: #ffffff;
	--button-text-color: #8a8888;
	--dm-yellow: #f8b234;
	--dm-white: #ffffff;
	--dm-font: #505365;
	/* --dm-found: rgb(176, 176, 177) 5; */
	--dm-found: #ff6457;

	background: var(--dm-yellow);
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: scroll;
	margin-top: 1rem;
}

main {
	height: 70vh;
	width: 350px;
	font-family: "Nunito Sans", sans-serif;
	color: var(--dm-font);
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--back-color);
	border-radius: 5%;
	box-shadow: inset 9.91px 9.91px 15px #d9dade,
		inset -9.91px -9.91px 15px var(--decoration-pure);
	padding: 5rem 4rem;
}

h1 {
	font-family: "Lato", sans-serif;
	margin-top: 0;
	text-decoration: underline;
	text-decoration-thickness: 0.2em;
	text-underline-offset: 10px;
	text-decoration-color: var(--dm-yellow);
	position: sticky;
}

button {
	width: 10rem;
	height: 10rem;
	margin-top: 2rem;
	background: var(--back-color);
	border-radius: 100%;
	box-shadow: 9.91px 9.91px 15px #d9dade,
		-9.91px -9.91px 15px var(--decoration-pure);
	font-family: "Nunito Sans", sans-serif;
	font-size: 4rem;
	color: var(--button-text-color);
	border: none;
}

button:hover {
	border: 3px solid var(--decoration-pure);
	color: #aaa9a9;
	outline: 1px solid var(--decoration-pure);
}

button:focus {
	outline: 1px solid var(--decoration-pure);
}

button:active {
	box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
	outline: 1px solid var(--decoration-pure);
}
button:active .go {
	animation-name: spin;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	outline: none;
}

.field {
	padding: 75px 5px 5px 5px;
}
.field input {
	border: none;
	outline: none;
	background: none;
	font-size: 25px;
	color: var(--dm-font);
	padding: 20px 10px 20px 10px;
}
.code {
	margin-bottom: 30px;
	border-radius: 25px;
	padding: 1rem;
	box-shadow: inset 8px 8px 8px #dadddf, inset -8px -8px 8px #ffffff;
	text-align: center;
}
.found {
	text-align: center;
	font-weight: 900;
	margin-top: 3.5rem;
	background-color: var(--dm-found);
	color: var(--dm-white);
	font-size: 25px;

	/* margin-bottom: 30px; */
	border-radius: 25px;
	padding: 1rem;
	box-shadow: inset 8px 8px 8px #fe6b5d, inset -8px -8px 8px #fc897e;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(1200deg);
	}
	100% {
		transform: rotate(2400deg);
	}
}

@media screen and (max-width: 600px) {
	li {
		text-align: right;
	}
}
